@model SubmitDinnerSelectionsVM

<h1 class="text-2xl font-bold text-center my-4">Review Your Dinner Selections</h1>

<div class="container mx-auto px-4">
    <div class="mb-8">
        <h2 class="text-xl font-semibold my-2">Selected Recipes</h2>
        <ul class="list-disc pl-5">
            @foreach (var recipe in Model.SelectedRecipes)
            {
                <li class="mb-2 flex">
                    <img src="@recipe.ImageUri" alt="Image of @recipe.RecipeName" class="w-20 h-20 object-cover mr-4">
                    <div>
                        <p class="font-bold">@recipe.RecipeName</p>
                    </div>
                </li>
            }
        </ul>
    </div>

    <div>
        <h2 class="text-xl font-semibold my-2">Ingredients Needed</h2>
        <table class="table-auto w-full">
            <thead>
                <tr class="bg-gray-200">
                    <th class="px-4 py-2 text-left">Ingredient</th>
                    <th class="px-4 py-2 text-left">Quantity</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Ingredients)
                {
                    <tr>
                        <td class="border px-4 py-2">@item.Key</td>
                        <td class="border px-4 py-2">@item.Value</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
