@model ViewRecipeVM

<div class="max-w-5xl mx-auto px-4 sm:px-6 lg:px-8 py-12">
    <!-- Recipe Header -->
    <div class="text-center mb-10">
        <h1 class="text-4xl font-bold text-gray-800">@Model.RecipeName</h1>
    </div>

    <!-- Image Section -->
    @if (!string.IsNullOrWhiteSpace(Model?.ImageUri))
    {
        <div class="flex justify-center mb-6">
            <img src=@Model.ImageUri alt="Image of @Model.RecipeName" class="rounded-lg shadow-lg max-w-lg w-full h-auto">
        </div>
    }
    

    <!-- Ingredients List -->
    <div class="mt-6 bg-white shadow-md rounded-lg p-6">
        <h3 class="text-2xl font-semibold text-gray-800 mb-4">Ingredients</h3>
        <ul class="list-disc list-inside">
            @if (Model.Ingredients != null)
            {
                foreach (var ingredient in Model.Ingredients)
                {
                    <li class="text-gray-700 font-medium">@ingredient.Name - @ingredient.Quantity @ingredient.Measurement</li>
                }
            }
        </ul>
    </div>

    <!-- Buttons Section -->
    <div class="mt-10 flex justify-center space-x-4">
        <a asp-controller="Recipe" asp-action="Recipe"
           class="bg-gray-600 hover:bg-gray-700 text-white font-bold py-2 px-6 rounded focus:outline-none focus:shadow-outline transition duration-150 ease-in-out">
            Back
        </a>
        <a asp-controller="Recipe" asp-action="CreateEditRecipe" asp-route-id="@Model.Id"
           class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-6 rounded focus:outline-none focus:shadow-outline transition duration-150 ease-in-out">
            Modify
        </a>
        <a asp-controller="Recipe" asp-action="DeleteRecipe" asp-route-id="@Model.Id"
           class="bg-red-500 hover:bg-red-600 text-white font-bold py-2 px-6 rounded focus:outline-none focus:shadow-outline transition duration-150 ease-in-out">
            Delete
        </a>
    </div>
</div>
